<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <h2>{{web}}</h2>
</div>
<article class="about">
    <h2>Sobre mi</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit odio, recusandae dolorum asperiores expedita ratione exercitationem facilis, iste magni aperiam adipisci, assumenda est? Laudantium optio aliquid aut. Fugiat, sunt. Obcaecati! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta totam autem obcaecati necessitatibus quod ullam in aut officiis repudiandae. Fugit inventore natus iste minus quisquam a nesciunt earum quaerat esse. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt iusto omnis repellat eligendi neque quia doloribus delectus ab reiciendis, pariatur, doloremque ipsum atque, placeat veritatis cumque incidunt officiis! Ab, doloribus?</p>

</article>
