<link rel="stylesheet" href="../../../assets/css/swiper-bundle.min.css" />

<section class="about">
    <div>
        <h2 class="hometitle"> Hola! Soy <br /></h2>
        <h1 class="name name_sombra">Andrea Mendizabal<br/></h1>
        <h2 class="hometitle"> Desarrolladora web <br /></h2>
    </div>
    <button class="curriculum">Descargar CV <i class="bi bi-file-earmark-arrow-down"></i></button>
    <button a [routerLink]="['/contacto']"  class="contact">Contáctame <i class="bi bi-person"></i></button>

    <div class="floating-icons">
      <div class="github">   <i class="bi bi-github"></i></div>
      <div class="linkedin">    <i class="bi bi-linkedin"></i></div>
      <div class="email">  <i class="bi bi-envelope"></i></div>
    </div>
  

    <div class="soy">
        <h3>Quien soy</h3>
        <div class="content">
          <div class="foto">
              <img src="../../../assets/img/yo2.jpg" alt="foto-mia" class="mi_foto"/>
          </div>
          <div class="description">
              <p >
                Disfruto creando sitios web que brinden una experiencia de usuario única y satisfactoria. Puedes ver algunos de ellos en la sección de proyectos.<br>
                Soy una persona autodidacta, responsable y dedicada a mi trabajo. Me encuentro constantemente aprendiendo nuevas técnicas o herramientas para mejorar mis habilidades. A continuación puedes encontrar las habilidades y técnicas que utilizo.<br>
                Si tiene alguna pregunta, no dude en ponerse en contacto conmigo.
              </p>
          </div>
        </div>
    </div>

    <section class="tecnologias">
        <div class="tecno_container grid">
            <div class="front">
              <img src="../../../assets/img/front.png" alt="" class="imgF"/>
              <h3 class="front_title">Frontend</h3>
              <p class="front_description">
                <span>HTML </span>
                <span>JavaScript </span>
                <span>TypeScript </span>
                <span>CSS </span>
                <span>Angular </span>
              </p>
            </div>
  
            <div class="back">
              <img src="../../../assets/img/backend.png" alt="" class="imgB" />
              <h3 class="back_title">Backend</h3>
              <p class="back_description">
                <span>NodeJS </span>
                <span>MongoBD </span>
                <span>Express </span>
              </p>
            </div>
  
            <div class="tools">
              <img src="../../../assets/img/herramientas.png" alt="" class="imgH"/>
              <h3 class="tools_title">Herramientas</h3>
              <p class="tools_description">
                <span>Postman </span>
                <span>GitHub </span>
                <span>GitLab </span>
              </p>
            </div>
          </div>
    </section>


</section>
